/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */
/**************** End of Myer Resest ******************/



.wrapper, html, body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
}

.card-container {
  position: relative;
  flex: 1;
  min-width: 300px;
  max-width: 419px;  /* max width for background image */
}

.card-image {
  position: absolute;
  height: 100%;

}


.card-body {
  display: flex;
  justify-content:  center;
  align-items: center;
  
  position: absolute;
  top: 225px;

  width: 100%;
  background: black;
  opacity: 0.6;
  color: white;
  
/*   border: 1px solid red; */
}

/**** TODO: format correct font style ****/
/* @font-face {
  font-family: norse;
  src: url('assets/Norse-Bold.otf')format('otf');
  font-weight: normal;
  font-style: normal;
}
.card-body h1 {
  font: 1 em "norse", monospace;
} */
.card-logo {
 width: 80px;
 height: auto;
}
.call-to-action {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1.7 1 0%;
  /* align-items: center; */
  align-items: flex-start;
  justify-content: center;

  min-width: 500px;
  background-color: gray; 
}

.call-to-action > * {
  margin: 1px 30px;
  display: flex;
  flex-flow: column;
}


button, label, input {
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}
.form-item {
/*   margin-bottom: 20px; */
  display: flex;
  flex-flow: row wrap;
}

/* .form-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
 */

 /* input validations */
input {
  appearance: none;
}

input:required {
  border: 1px solid black;
}

input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid + span::before {
  content: '✖';
  color: red;
}

input:valid + span::before {
  content: '✓';
  color: green;
}

input:required + span::after {
  font-size: 0.7rem;
  position: absolute;
  content: "required";
  color: white;
  background-color: black;
  padding: 5px 10px;
  top: -26px;
  left: -70px;
}
